::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /**/
}

::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf;
}

::-webkit-scrollbar-corner {
    background: #bfbfbf;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --text: #494949;
    --text2: #5c5c5c;
    --blue: #0471FF;
    --bodyPadding: 10px;
    --green: #97D47A;
}

.a-link {
    cursor: pointer;
    text-decoration: none;
    color: #0471FF;
}

//重写tab
.my-tab {
    .el-tabs__nav-wrap {
        &::after {
            background: none;
        }
    }

    .el-tabs__header {
        margin: 0px;
    }
}

//重写 收起展开
.my-collapse {
    .el-collapse-item__content {
        padding-bottom: 0px;
    }

    .el-collapse-item__wrap,
    .el-collapse,
    .el-collapse-item__header {
        border-bottom: none;
    }
}

.el-message-box {
    -webkit-app-region: no-drag;
}

.top-panel {
    .el-form-item {
        margin-bottom: 0px;
    }

    .second-row {
        margin-top: 5px;
    }
}