<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easymeeting.mappers.MeetingInfoMapper">

    <!--实体映射-->
    <resultMap id="base_result_map" type="com.easymeeting.entity.po.MeetingInfo">
        <!--会议ID-->
        <result column="meeting_id" property="meetingId"/>
        <!--会议号-->
        <result column="meeting_no" property="meetingNo"/>
        <!--会议主题-->
        <result column="meeting_name" property="meetingName"/>
        <!--创建时间-->
        <result column="create_time" property="createTime"/>
        <!--创建人-->
        <result column="create_user_id" property="createUserId"/>
        <!--加入类型0:任何人可以加入 1:密码加入 2:联系人加入-->
        <result column="join_type" property="joinType"/>
        <!--加入密码-->
        <result column="join_password" property="joinPassword"/>
        <!--开始时间-->
        <result column="start_time" property="startTime"/>
        <!--结束时间-->
        <result column="end_time" property="endTime"/>
        <!--状态0:进行中 1:已结束-->
        <result column="status" property="status"/>
        <!--会议来源 0:普通会议 1:ATS面试会议-->
        <result column="source" property="source"/>
        <!--ATS业务关联ID-->
        <result column="ats_business_id" property="atsBusinessId"/>
    </resultMap>


    <!-- 通用查询结果列-->
    <sql id="base_column_list">
        m.meeting_id,m.meeting_no,m.meeting_name,m.create_time,m.create_user_id,
        m.join_type,m.join_password,m.start_time,m.end_time,m.status,
        m.source,m.ats_business_id

    </sql>

    <sql id="base_condition_filed">
        <if test="query.meetingId != null and query.meetingId!=''">
            and m.meeting_id = #{query.meetingId}
        </if>
        <if test="query.meetingNo != null and query.meetingNo!=''">
            and m.meeting_no = #{query.meetingNo}
        </if>
        <if test="query.meetingName != null and query.meetingName!=''">
            and m.meeting_name = #{query.meetingName}
        </if>
        <if test="query.createTime != null and query.createTime!=''">
            <![CDATA[ and  m.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="query.createUserId != null and query.createUserId!=''">
            and m.create_user_id = #{query.createUserId}
        </if>
        <if test="query.joinType != null">
            and m.join_type = #{query.joinType}
        </if>
        <if test="query.joinPassword != null and query.joinPassword!=''">
            and m.join_password = #{query.joinPassword}
        </if>
        <if test="query.startTime != null and query.startTime!=''">
            <![CDATA[ and  m.start_time=str_to_date(#{query.startTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="query.endTime != null and query.endTime!=''">
            <![CDATA[ and  m.end_time=str_to_date(#{query.endTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="query.status != null">
            and m.status = #{query.status}
        </if>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <if test="query.meetingIdFuzzy!= null  and query.meetingIdFuzzy!=''">
                and m.meeting_id like concat('%', #{query.meetingIdFuzzy}, '%')
            </if>
            <if test="query.meetingNoFuzzy!= null  and query.meetingNoFuzzy!=''">
                and m.meeting_no like concat('%', #{query.meetingNoFuzzy}, '%')
            </if>
            <if test="query.meetingNameFuzzy!= null  and query.meetingNameFuzzy!=''">
                and m.meeting_name like concat('%', #{query.meetingNameFuzzy}, '%')
            </if>
            <if test="query.createTimeStart!= null and query.createTimeStart!=''">
                <![CDATA[ and  m.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
                <![CDATA[ and  m.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
            <if test="query.createUserIdFuzzy!= null  and query.createUserIdFuzzy!=''">
                and m.create_user_id like concat('%', #{query.createUserIdFuzzy}, '%')
            </if>
            <if test="query.joinPasswordFuzzy!= null  and query.joinPasswordFuzzy!=''">
                and m.join_password like concat('%', #{query.joinPasswordFuzzy}, '%')
            </if>
            <if test="query.startTimeStart!= null and query.startTimeStart!=''">
                <![CDATA[ and  m.start_time>=str_to_date(#{query.startTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.startTimeEnd!= null and query.startTimeEnd!=''">
                <![CDATA[ and  m.start_time< date_sub(str_to_date(#{query.startTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
            <if test="query.endTimeStart!= null and query.endTimeStart!=''">
                <![CDATA[ and  m.end_time>=str_to_date(#{query.endTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.endTimeEnd!= null and query.endTimeEnd!=''">
                <![CDATA[ and  m.end_time< date_sub(str_to_date(#{query.endTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
            <if test="query.userId!=null">
                and m.meeting_id in(select meeting_id from meeting_member mm where mm.user_id=#{query.userId} and mm.status = 1)
            </if>
        </where>
    </sql>

    <!-- 查询集合-->
    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        <if test="query.queryMemberCount">
            ,(select count(1) from meeting_member mm where mm.meeting_id = m.meeting_id) memberCount
        </if>
        FROM meeting_info m
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <!-- 查询数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM meeting_info m
        <include refid="query_condition"/>
    </select>

    <!-- 插入 （匹配有值的字段）-->
    <insert id="insert" parameterType="com.easymeeting.entity.po.MeetingInfo">
        INSERT INTO meeting_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.meetingId != null">
                meeting_id,
            </if>
            <if test="bean.meetingNo != null">
                meeting_no,
            </if>
            <if test="bean.meetingName != null">
                meeting_name,
            </if>
            <if test="bean.createTime != null">
                create_time,
            </if>
            <if test="bean.createUserId != null">
                create_user_id,
            </if>
            <if test="bean.joinType != null">
                join_type,
            </if>
            <if test="bean.joinPassword != null">
                join_password,
            </if>
            <if test="bean.startTime != null">
                start_time,
            </if>
            <if test="bean.endTime != null">
                end_time,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.source != null">
                source,
            </if>
            <if test="bean.atsBusinessId != null">
                ats_business_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.meetingId!=null">
                #{bean.meetingId},
            </if>
            <if test="bean.meetingNo!=null">
                #{bean.meetingNo},
            </if>
            <if test="bean.meetingName!=null">
                #{bean.meetingName},
            </if>
            <if test="bean.createTime!=null">
                #{bean.createTime},
            </if>
            <if test="bean.createUserId!=null">
                #{bean.createUserId},
            </if>
            <if test="bean.joinType!=null">
                #{bean.joinType},
            </if>
            <if test="bean.joinPassword!=null">
                #{bean.joinPassword},
            </if>
            <if test="bean.startTime!=null">
                #{bean.startTime},
            </if>
            <if test="bean.endTime!=null">
                #{bean.endTime},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
            <if test="bean.source!=null">
                #{bean.source},
            </if>
            <if test="bean.atsBusinessId!=null">
                #{bean.atsBusinessId},
            </if>
        </trim>
    </insert>

    <!-- 插入或者更新 （匹配有值的字段）-->
    <insert id="insertOrUpdate" parameterType="com.easymeeting.entity.po.MeetingInfo">
        INSERT INTO meeting_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.meetingId != null">
                meeting_id,
            </if>
            <if test="bean.meetingNo != null">
                meeting_no,
            </if>
            <if test="bean.meetingName != null">
                meeting_name,
            </if>
            <if test="bean.createTime != null">
                create_time,
            </if>
            <if test="bean.createUserId != null">
                create_user_id,
            </if>
            <if test="bean.joinType != null">
                join_type,
            </if>
            <if test="bean.joinPassword != null">
                join_password,
            </if>
            <if test="bean.startTime != null">
                start_time,
            </if>
            <if test="bean.endTime != null">
                end_time,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.source != null">
                source,
            </if>
            <if test="bean.atsBusinessId != null">
                ats_business_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.meetingId!=null">
                #{bean.meetingId},
            </if>
            <if test="bean.meetingNo!=null">
                #{bean.meetingNo},
            </if>
            <if test="bean.meetingName!=null">
                #{bean.meetingName},
            </if>
            <if test="bean.createTime!=null">
                #{bean.createTime},
            </if>
            <if test="bean.createUserId!=null">
                #{bean.createUserId},
            </if>
            <if test="bean.joinType!=null">
                #{bean.joinType},
            </if>
            <if test="bean.joinPassword!=null">
                #{bean.joinPassword},
            </if>
            <if test="bean.startTime!=null">
                #{bean.startTime},
            </if>
            <if test="bean.endTime!=null">
                #{bean.endTime},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
            <if test="bean.source!=null">
                #{bean.source},
            </if>
            <if test="bean.atsBusinessId!=null">
                #{bean.atsBusinessId},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.meetingId!=null">
                meeting_id = VALUES(meeting_id),
            </if>
            <if test="bean.meetingNo!=null">
                meeting_no = VALUES(meeting_no),
            </if>
            <if test="bean.meetingName!=null">
                meeting_name = VALUES(meeting_name),
            </if>
            <if test="bean.createTime!=null">
                create_time = VALUES(create_time),
            </if>
            <if test="bean.createUserId!=null">
                create_user_id = VALUES(create_user_id),
            </if>
            <if test="bean.joinType!=null">
                join_type = VALUES(join_type),
            </if>
            <if test="bean.joinPassword!=null">
                join_password = VALUES(join_password),
            </if>
            <if test="bean.startTime!=null">
                start_time = VALUES(start_time),
            </if>
            <if test="bean.endTime!=null">
                end_time = VALUES(end_time),
            </if>
            <if test="bean.status!=null">
                status = VALUES(status),
            </if>
            <if test="bean.source!=null">
                source = VALUES(source),
            </if>
            <if test="bean.atsBusinessId!=null">
                ats_business_id = VALUES(ats_business_id),
            </if>
        </trim>
    </insert>

    <!-- 添加 （批量插入）-->
    <insert id="insertBatch" parameterType="com.easymeeting.entity.po.MeetingInfo">
        INSERT INTO meeting_info(
        meeting_id,
        meeting_no,
        meeting_name,
        create_time,
        create_user_id,
        join_type,
        join_password,
        start_time,
        end_time,
        status
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.meetingId},
            #{item.meetingNo},
            #{item.meetingName},
            #{item.createTime},
            #{item.createUserId},
            #{item.joinType},
            #{item.joinPassword},
            #{item.startTime},
            #{item.endTime},
            #{item.status}
            )
        </foreach>
    </insert>

    <!-- 批量新增修改 （批量插入）-->
    <insert id="insertOrUpdateBatch" parameterType="com.easymeeting.entity.po.MeetingInfo">
        INSERT INTO meeting_info(
        meeting_id,
        meeting_no,
        meeting_name,
        create_time,
        create_user_id,
        join_type,
        join_password,
        start_time,
        end_time,
        status
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.meetingId},
            #{item.meetingNo},
            #{item.meetingName},
            #{item.createTime},
            #{item.createUserId},
            #{item.joinType},
            #{item.joinPassword},
            #{item.startTime},
            #{item.endTime},
            #{item.status}
            )
        </foreach>
        on DUPLICATE key update
        meeting_id = VALUES(meeting_id),
        meeting_no = VALUES(meeting_no),
        meeting_name = VALUES(meeting_name),
        create_time = VALUES(create_time),
        create_user_id = VALUES(create_user_id),
        join_type = VALUES(join_type),
        join_password = VALUES(join_password),
        start_time = VALUES(start_time),
        end_time = VALUES(end_time),
        status = VALUES(status)
    </insert>

    <!--多条件修改-->
    <update id="updateByParam" parameterType="com.easymeeting.entity.query.MeetingInfoQuery">
        UPDATE meeting_info m
        <set>
            <if test="bean.meetingId != null">
                meeting_id = #{bean.meetingId},
            </if>
            <if test="bean.meetingNo != null">
                meeting_no = #{bean.meetingNo},
            </if>
            <if test="bean.meetingName != null">
                meeting_name = #{bean.meetingName},
            </if>
            <if test="bean.createTime != null">
                create_time = #{bean.createTime},
            </if>
            <if test="bean.createUserId != null">
                create_user_id = #{bean.createUserId},
            </if>
            <if test="bean.joinType != null">
                join_type = #{bean.joinType},
            </if>
            <if test="bean.joinPassword != null">
                join_password = #{bean.joinPassword},
            </if>
            <if test="bean.startTime != null">
                start_time = #{bean.startTime},
            </if>
            <if test="bean.endTime != null">
                end_time = #{bean.endTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
        </set>
        <include refid="query_condition"/>
    </update>

    <!--多条件删除-->
    <delete id="deleteByParam">
        delete m from meeting_info m
        <include refid="query_condition"/>
    </delete>

    <!-- 根据MeetingId修改-->
    <update id="updateByMeetingId" parameterType="com.easymeeting.entity.po.MeetingInfo">
        UPDATE meeting_info
        <set>
            <if test="bean.meetingNo != null">
                meeting_no = #{bean.meetingNo},
            </if>
            <if test="bean.meetingName != null">
                meeting_name = #{bean.meetingName},
            </if>
            <if test="bean.createTime != null">
                create_time = #{bean.createTime},
            </if>
            <if test="bean.createUserId != null">
                create_user_id = #{bean.createUserId},
            </if>
            <if test="bean.joinType != null">
                join_type = #{bean.joinType},
            </if>
            <if test="bean.joinPassword != null">
                join_password = #{bean.joinPassword},
            </if>
            <if test="bean.startTime != null">
                start_time = #{bean.startTime},
            </if>
            <if test="bean.endTime != null">
                end_time = #{bean.endTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
        </set>
        where meeting_id=#{meetingId}
    </update>

    <!-- 根据MeetingId删除-->
    <delete id="deleteByMeetingId">
        delete from meeting_info where meeting_id=#{meetingId}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByMeetingId" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from meeting_info m where meeting_id=#{meetingId}
    </select>

</mapper>