<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easymeeting.mappers.MeetingMemberMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.easymeeting.entity.po.MeetingMember">
		<!--会议ID-->
		<result column="meeting_id" property="meetingId"  />
		<!--用户ID-->
		<result column="user_id" property="userId"  />
		<!--昵称-->
		<result column="nick_name" property="nickName"  />
		<!--最后入会时间-->
		<result column="last_join_time" property="lastJoinTime"  />
		<!--1:正常 0:已删除 -1被踢出会议-->
		<result column="status" property="status"  />
		<!--0:普通成员 1:主持人-->
		<result column="member_type" property="memberType"  />
		<!--状态 0:已结束 1:进行中-->
		<result column="meeting_status" property="meetingStatus"  />
		<!--身份类型 0:正式用户 1:访客-->
		<result column="identity_type" property="identityType"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 m.meeting_id,m.user_id,m.nick_name,m.last_join_time,m.status,
		 m.member_type,m.meeting_status,m.identity_type
	</sql>

	<sql id="base_condition_filed">
			<if test="query.meetingId != null and query.meetingId!=''">
				 and  m.meeting_id = #{query.meetingId}
			</if>
			<if test="query.userId != null and query.userId!=''">
				 and  m.user_id = #{query.userId}
			</if>
			<if test="query.nickName != null and query.nickName!=''">
				 and  m.nick_name = #{query.nickName}
			</if>
			<if test="query.lastJoinTime != null and query.lastJoinTime!=''">
				 <![CDATA[ and  m.last_join_time=str_to_date(#{query.lastJoinTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.status != null">
				 and  m.status = #{query.status}
			</if>
			<if test="query.memberType != null">
				 and  m.member_type = #{query.memberType}
			</if>
			<if test="query.meetingStatus != null">
				 and  m.meeting_status = #{query.meetingStatus}
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.meetingIdFuzzy!= null  and query.meetingIdFuzzy!=''">
				 and  m.meeting_id like concat('%', #{query.meetingIdFuzzy}, '%')
			</if>
			<if test="query.userIdFuzzy!= null  and query.userIdFuzzy!=''">
				 and  m.user_id like concat('%', #{query.userIdFuzzy}, '%')
			</if>
			<if test="query.nickNameFuzzy!= null  and query.nickNameFuzzy!=''">
				 and  m.nick_name like concat('%', #{query.nickNameFuzzy}, '%')
			</if>
			<if test="query.lastJoinTimeStart!= null and query.lastJoinTimeStart!=''">
				 <![CDATA[ and  m.last_join_time>=str_to_date(#{query.lastJoinTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.lastJoinTimeEnd!= null and query.lastJoinTimeEnd!=''">
				 <![CDATA[ and  m.last_join_time< date_sub(str_to_date(#{query.lastJoinTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM meeting_member m <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM meeting_member m <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.easymeeting.entity.po.MeetingMember">
		 INSERT INTO meeting_member
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.meetingId != null">
				 meeting_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.nickName != null">
				 nick_name,
			</if>
			<if test="bean.lastJoinTime != null">
				 last_join_time,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.memberType != null">
				 member_type,
			</if>
			<if test="bean.meetingStatus != null">
				 meeting_status,
			</if>
			<if test="bean.identityType != null">
				 identity_type,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.meetingId!=null">
				 #{bean.meetingId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.nickName!=null">
				 #{bean.nickName},
			</if>
			<if test="bean.lastJoinTime!=null">
				 #{bean.lastJoinTime},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.memberType!=null">
				 #{bean.memberType},
			</if>
			<if test="bean.meetingStatus!=null">
				 #{bean.meetingStatus},
			</if>
			<if test="bean.identityType!=null">
				 #{bean.identityType},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.easymeeting.entity.po.MeetingMember">
		 INSERT INTO meeting_member
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.meetingId != null">
				 meeting_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.nickName != null">
				 nick_name,
			</if>
			<if test="bean.lastJoinTime != null">
				 last_join_time,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.memberType != null">
				 member_type,
			</if>
			<if test="bean.meetingStatus != null">
				 meeting_status,
			</if>
			<if test="bean.identityType != null">
				 identity_type,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.meetingId!=null">
				 #{bean.meetingId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.nickName!=null">
				 #{bean.nickName},
			</if>
			<if test="bean.lastJoinTime!=null">
				 #{bean.lastJoinTime},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.memberType!=null">
				 #{bean.memberType},
			</if>
			<if test="bean.meetingStatus!=null">
				 #{bean.meetingStatus},
			</if>
			<if test="bean.identityType!=null">
				 #{bean.identityType},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.meetingId!=null">
				 meeting_id = VALUES(meeting_id),
			</if>
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.nickName!=null">
				 nick_name = VALUES(nick_name),
			</if>
			<if test="bean.lastJoinTime!=null">
				 last_join_time = VALUES(last_join_time),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
			<if test="bean.memberType!=null">
				 member_type = VALUES(member_type),
			</if>
			<if test="bean.meetingStatus!=null">
				 meeting_status = VALUES(meeting_status),
			</if>
			<if test="bean.identityType!=null">
				 identity_type = VALUES(identity_type),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.easymeeting.entity.po.MeetingMember">
		 INSERT INTO meeting_member(
			 meeting_id,
			 user_id,
			 nick_name,
			 last_join_time,
			 status,
			 member_type,
			 meeting_status
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.meetingId},
				 #{item.userId},
				 #{item.nickName},
				 #{item.lastJoinTime},
				 #{item.status},
				 #{item.memberType},
				 #{item.meetingStatus}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.easymeeting.entity.po.MeetingMember">
		 INSERT INTO meeting_member(
			 meeting_id,
			 user_id,
			 nick_name,
			 last_join_time,
			 status,
			 member_type,
			 meeting_status
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.meetingId},
				 #{item.userId},
				 #{item.nickName},
				 #{item.lastJoinTime},
				 #{item.status},
				 #{item.memberType},
				 #{item.meetingStatus}
			 )
		 </foreach>
			on DUPLICATE key update 
			meeting_id = VALUES(meeting_id),
			user_id = VALUES(user_id),
			nick_name = VALUES(nick_name),
			last_join_time = VALUES(last_join_time),
			status = VALUES(status),
			member_type = VALUES(member_type),
			meeting_status = VALUES(meeting_status)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.easymeeting.entity.query.MeetingMemberQuery">
		 UPDATE meeting_member m
 		 <set> 
			<if test="bean.meetingId != null">
				 meeting_id = #{bean.meetingId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.nickName != null">
				 nick_name = #{bean.nickName},
			</if>
			<if test="bean.lastJoinTime != null">
				 last_join_time = #{bean.lastJoinTime},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.memberType != null">
				 member_type = #{bean.memberType},
			</if>
			<if test="bean.meetingStatus != null">
				 meeting_status = #{bean.meetingStatus},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete m from meeting_member m
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据MeetingIdAndUserId修改-->
	<update id="updateByMeetingIdAndUserId" parameterType="com.easymeeting.entity.po.MeetingMember">
		 UPDATE meeting_member
 		 <set> 
			<if test="bean.nickName != null">
				 nick_name = #{bean.nickName},
			</if>
			<if test="bean.lastJoinTime != null">
				 last_join_time = #{bean.lastJoinTime},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.memberType != null">
				 member_type = #{bean.memberType},
			</if>
			<if test="bean.meetingStatus != null">
				 meeting_status = #{bean.meetingStatus},
			</if>
 		 </set>
 		 where meeting_id=#{meetingId} and user_id=#{userId}
	</update>

	<!-- 根据MeetingIdAndUserId删除-->
	<delete id="deleteByMeetingIdAndUserId">
		delete from meeting_member where meeting_id=#{meetingId} and user_id=#{userId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByMeetingIdAndUserId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from meeting_member m where meeting_id=#{meetingId} and user_id=#{userId}
	</select>

</mapper>